@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes next01 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes next02 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
@keyframes prev01 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes prev02 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
